---
layout: layouts/base.njk
---
<nav>
  <ul>
    <li><a href="#intro">Oazi Engenharia</a></li>
    <li><a href="#history">História</a></li>
    <li><a href="#services">Serviços</a></li>
    <li><a href="#contact">Contato</a></li>
  </ul>
</nav>

<div class="content">
  <header id="intro">
    <h1>Oazi Engenharia</h1>
    <p>Soluções em automação industrial</p>
  </header>

  <section id="history">
    <img src="/images/logo_oazi.png" alt="Logo Oazi Engenharia">
    <div>
      <h2>História</h2>
      <p>Com mais de 25 anos de experiência em automação industrial, a Oazi Engenharia realiza projetos em indústrias de diversos setores, seguindo os padrões de qualidade e segurança mais exigentes do mercado.</p>
    </div>
  </section>

  <section id="services">
    <h2>Serviços</h2>
    <p id="desc">Somos fornecedores das maiores empresas do Brasil. Nossos serviços já foram utilizados por Petrobras, Usina Hidrelétrica de Itaipu, Gasoduto Brasil-Bolívia, 3M, ABB, Polenghi, Yokogawa e CSN.</p>
    <div class="features">
      <article>
        <h3>CLP</h3>
        <p>Programação e configuração de diversos modelos de CLP (Rockwell, Siemens, Schneider, etc.)</p>
      </article>
      <article>
        <h3>Supervisórios e IHM</h3>
  			<p>Desenvolvimento de sistemas que permitem a visualização e operação do processo (FactoryTalk, Delta, Elipse, etc.).</p>
      </article>
      <article>
        <h3>Redes de Comunicação</h3>
        <p>Especificação e configuração de redes de comunicação de dados (Modbus, Profibus, ControlNet, DeviceNet, etc.).</p>
      </article>
      <article>
        <h3>Projetos elétricos e treinamentos</h3>
        <p>Projetos e treinamentos personalizados de acordo com as necessidades da sua empresa.</p>
      </article>
  </section>

  <section id="contact">
    <h2>Contato</h2>
    <ul class="information">
      <li>
        <h3>Endereço</h3>
        <p>Rua Rafael de Barros, 380, Sala 9<br>
			  13610-200, Centro<br>
			  Leme, SP, Brasil</p>
      </li>
      <li>
        <h3>E-mail</h3>
        <a href="mailto:contato@oaziengenharia.com">contato@oaziengenharia.com</a>
      </li>
      <li>
        <h3>Telefone</h3>
        <a href="tel:551935713227">(19) 3571-3227</a>
      </li>
    </ul>
  </section>

  <footer>
    <p>Site desenvolvido por <a href="https://augustooazi.com">Augusto Oazi</a></p>
    <p>Código-fonte aberto (<a href="#">link</a>)</p>
  </footer>
</div>
